In [15]:
from datetime import date
import yfinance as yf
import pandas as pd
import numpy as np
import warnings


# Suppress future warnings
warnings.filterwarnings('ignore', category=FutureWarning)

# 1. Introduction

In [2]:
stock_ticker = 'MSFT'

# 2. Fetching the Data
Typically, the `yfinance` module can go back as far back in time as the historical data of a stock in the market. For stocks like microsoft and Apple, this could mean over 35 years of data. This is not in itself a problem, except for the fact that in the models that we need to develop, we want to build in two exogeneous variables to help with predictions:
* The daily price of  TIP, which started trading on 5th December 2003.
* The Microsoft Earnings calls, which go back as far as 26th January 2015. These calls have taken place quarterly since the company first went public in 1986; however, the data for the estimated and actual earnings per share is not available on their site prior to 2015.

## 2.1. Extracting Daily Closing Prices for a TIPS

* The longest-running ETF that tracks Treasury Inflation-Protected Securities (TIPS) is the iShares TIPS Bond ETF (ticker: **TIP**).
* It was launched by BlackRock on December 4, 2003.

* This ETF aims to track the investment results of an index composed of inflation-protected U.S. Treasury bonds.
* It's one of the most well-known and widely traded TIPS ETFs, providing investors with exposure to inflation-protected bonds issued by the U.S. government.

In [3]:
# Choose the ticker symbol
tickerSymbol = 'TIP'

# Get data on this ticker
tickerData = yf.Ticker(tickerSymbol)

# Get the historical prices for this ticker
tip = tickerData.history(period="max")

# Extract the Closing Price only
tip = pd.DataFrame(tip['Close'])

# Rename the Close column for clarity
tip.rename(columns = {'Close': 'tip_price'}, inplace = True)

# Make the date index timezone-naive since the earnings call data will be as well
tip.index = [d.date() for d in tip.index.to_pydatetime()]
# Visualise
tip

             tip_price
2003-12-05   53.091038
2003-12-08   53.044121
2003-12-09   52.908592
2003-12-10   53.049324
2003-12-11   53.257858
...                ...
2024-08-01  108.150002
2024-08-02  108.669998
2024-08-05  108.980003
2024-08-06  108.349998
2024-08-07  108.084999

[5202 rows x 1 columns]

## 2.2. Extracting the Data on Earnings Calls

The data on the Earnings Calls for Microsoft, including: their dates, the estimated Earnings-per-Share (EPS) and the Actual EPS, can be found on [this website](https://www.alphaquery.com/stock/MSFT/earnings-history).

In [4]:
import requests
import bs4

In [5]:
# # Install Selenium if not already
# pip install selenium
# !pip install webdriver-manager

In [6]:
# # Install chromium, its driver, and selenium
# !apt-get update
# !apt install -y chromium-chromedriver

In [7]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service

# Correct path to the ChromeDriver executable
service = Service(r'C:\Program Files\chromedriver-win64\chromedriver.exe')  # Replace with the actual path

driver = webdriver.Chrome(service=service)

# Define the URL
url = f'https://www.alphaquery.com/stock/{stock_ticker}/earnings-history'

# Navigate to the URL
driver.get(url)

# Wait for the page to fully load (you can adjust the sleep time if needed)
driver.implicitly_wait(10)

# Find the table element
table = driver.find_element(By.TAG_NAME, 'table')

# Extract the table rows
rows = table.find_elements(By.TAG_NAME, 'tr')

# Initialize a list to store the table data
table_data = []

# Loop through the rows and extract the data
for row in rows:
    cells = row.find_elements(By.TAG_NAME, 'td')
    cell_data = [cell.text for cell in cells]
    table_data.append(cell_data)

# Close the WebDriver
driver.quit()

# Convert the data to a pandas DataFrame
earnings_calls = pd.DataFrame(table_data)

# Now let's reformat the df for it to be meaningful
earnings_calls.drop(0, inplace = True) # The first row is an empty artefact of the scraping and should be removed
# Next we will sort through the date so that the ascending order matches
# the order of the Price dataframe that will be generated by yfinance
earnings_calls.sort_values(by = 0, inplace = True)
earnings_calls.reset_index(drop=True, inplace=True) #Reset the index since we removed a row and resorted
earnings_calls.drop(1, axis = 1, inplace = True) #Removes column '1' as this is the Date of the Fiscal Quarter End that the Earnings Call relates to.
# We are looking at daily events and how they influence *future* prices, so this data is not relevant.

# Lets also rename the columns to their original ehadings
earnings_calls.rename(columns = {0: 'earnings_call_date', 2: "estimated_eps", 3: "actual_eps"}, inplace = True)


# Cast the Date column to a Datetime object since it will be easier when we want to merge dataframes 
# later with the yfinance data
earnings_calls['earnings_call_date'] = pd.to_datetime(earnings_calls['earnings_call_date'])
# We want to make them timezone-naive
earnings_calls['earnings_call_date'] = earnings_calls['earnings_call_date'].dt.date

#Let's sate the dates column as the index since it will match the format of the data imported by yfinance
earnings_calls.set_index('earnings_call_date', inplace = True)

# The estimated_eps and actual_eps columns are usually imported as strings preceded with a dollar sign '$'
# Let's remove the currency symbol and cast them as floats
earnings_calls['estimated_eps'] = earnings_calls['estimated_eps'].str.replace('$', '')
earnings_calls['estimated_eps'] = earnings_calls['estimated_eps'].astype(float)
earnings_calls['actual_eps'] = earnings_calls['actual_eps'].str.replace('$', '')
earnings_calls['actual_eps'] = earnings_calls['actual_eps'].astype(float)
# Display the DataFrame
earnings_calls

                    estimated_eps  actual_eps
earnings_call_date
2015-01-26                   0.70        0.77
2015-04-23                   0.51        0.62
2015-07-21                   0.56        0.62
2015-10-22                   0.58        0.67
2016-01-28                   0.69        0.78
2016-04-21                   0.63        0.62
2016-07-19                   0.58        0.69
2016-10-20                   0.68        0.76
2017-01-26                   0.79        0.83
2017-04-27                   0.69        0.73
2017-07-20                   0.71        0.98
2017-10-26                   0.72        0.84
2018-01-31                   0.86        0.96
2018-04-26                   0.85        0.95
2018-07-19                   1.07        1.13
2018-10-24                   0.96        1.14
2019-01-30                   1.09        1.10
2019-04-24                   1.00        1.14
2019-07-18                   1.21        1.37
2019-10-23                   1.25        1.38
2020-01-29                   1.32        1.51
2020-04-29                   1.27        1.40
2020-07-22                   1.38        1.46
2020-10-27                   1.53        1.82
2021-01-26                   1.64        2.03
2021-04-27                   1.76        1.95
2021-07-27                   1.90        2.17
2021-10-26                   2.06        2.27
2022-01-25                   2.29        2.48
2022-04-26                   2.18        2.22
2022-07-26                   2.28        2.23
2022-10-25                   2.29        2.35
2023-01-24                   2.27        2.32
2023-04-25                   2.22        2.45
2023-07-25                   2.54        2.69
2023-10-24                   2.65        2.99
2024-01-30                   2.76        2.93
2024-04-25                   2.81        2.94
2024-07-30                   2.90        2.95

## 2.3. Extracting the Daily Closing Prices on MSFT
Just like we did for **TIP**, we will use the `yfinance` module to extract historical data on daily closing prices for the stock that we loaded on the 1st cell.

In [8]:
# Get data on this ticker
tickerData = yf.Ticker(stock_ticker) # Loads the financial data on whatever stock ticker we loaded on cell 1

# Get the historical prices for this ticker
stock = tickerData.history(period="max")
# Extract the Closing Price only
stock = pd.DataFrame(stock['Close'])

# Rename the Close column for clarity
stock.rename(columns = {'Close': 'stock_price'}, inplace = True)

# Make the date index timezone-naive since the earnings call data will be as well
stock.index = [d.date() for d in stock.index.to_pydatetime()]

# Visualise
stock

            stock_price
1986-03-13     0.060055
1986-03-14     0.062199
1986-03-17     0.063272
1986-03-18     0.061663
1986-03-19     0.060591
...                 ...
2024-08-01   417.109985
2024-08-02   408.489990
2024-08-05   395.149994
2024-08-06   399.609985
2024-08-07   400.209991

[9678 rows x 1 columns]

## 2.4. Merging the Three Dataframes according to their Shared Timeline

Typically, the `yfinance` module can go back as far back in time as the historical data of a stock in the market. For stocks like microsoft and Apple, this could mean over 35 years of data. This is not in itself a problem, except for the fact that in the models that we need to develop, we want to build in two exogeneous variables to help with predictions:
* The daily price of a TIP, which started trading on 5th December 2003.
* The Microsoft Earnings calls, which go back as far as 26th January 2015. These calls have taken place quarterly since the company first went public in 1986; however, the data for the estimated and actual earnings per share is not available on their site prior to 2015.

In [9]:
def mindful_concatenator (stock_df, inflation_df, earnings_calls_df):
    # First thing we want to do is to only keep the data they have from their shared timelines
    # We will fetch the df that starts the latest and filter the others to start at that same date.
    latest_date = max(stock_df.index[0], inflation_df.index[0], earnings_calls_df.index[0])
    # Now that I have obtained the 'earliest' date they've got in common, I will filter them
    new_stock = stock[latest_date:] #Restrict
    new_tip = tip[latest_date:]
    new_ec = earnings_calls[latest_date:]
    # The inflation and stock dataframes should have the same trading dates - bar some market events that
    # might have required one of the two tickers to stop trading for a period of time.
    # In case this has happened, I will do an inner join to ensure they have the same trading dates.
    inflation_with_stock_dfs = pd.concat([new_tip, new_stock], axis = 1, join = 'inner')
    # The Earnings Calls data is different - these calls only happen quarterly, so I want there to be a null value
    # on any trading date which does not have an earnings call.
    combined_df = pd.concat([inflation_with_stock_dfs, new_ec], axis = 1, join = 'outer')
    # This would have generated a NaN on every trading date without an earnings call.
    return combined_df

In [10]:
final = mindful_concatenator(stock, tip, earnings_calls)

In [11]:
final

             tip_price  stock_price  estimated_eps  actual_eps
2015-01-26   89.041397    40.520859            0.7        0.77
2015-01-27   89.322289    36.771313            NaN         NaN
2015-01-28   89.665573    35.504227            NaN         NaN
2015-01-29   89.564125    36.211060            NaN         NaN
2015-01-30   90.211685    34.823288            NaN         NaN
...                ...          ...            ...         ...
2024-08-01  108.150002   417.109985            NaN         NaN
2024-08-02  108.669998   408.489990            NaN         NaN
2024-08-05  108.980003   395.149994            NaN         NaN
2024-08-06  108.349998   399.609985            NaN         NaN
2024-08-07  108.084999   400.209991            NaN         NaN

[2400 rows x 4 columns]

In [12]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2400 entries, 2015-01-26 to 2024-08-07
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tip_price      2400 non-null   float64
 1   stock_price    2400 non-null   float64
 2   estimated_eps  39 non-null     float64
 3   actual_eps     39 non-null     float64
dtypes: float64(4)
memory usage: 93.8+ KB

## 2.5. Feature Engineering
### 2.5.1. Create another column with the difference between the estimated and the actual earnigns per share.

In [16]:
final['eps_delta'] = final['actual_eps'] - final['estimated_eps']

final

,tip_price,stock_price,estimated_eps,actual_eps,eps_delta,earnings_beat
2015-01-26,89.041397,40.520859,0.7,0.77,0.07,1.0
2015-01-27,89.322289,36.771313,NaN,NaN,NaN,NaN
2015-01-28,89.665573,35.504227,NaN,NaN,NaN,NaN
2015-01-29,89.564125,36.211060,NaN,NaN,NaN,NaN
2015-01-30,90.211685,34.823288,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
2024-08-01,108.150002,417.109985,NaN,NaN,NaN,NaN
2024-08-02,108.669998,408.489990,NaN,NaN,NaN,NaN
2024-08-05,108.980003,395.149994,NaN,NaN,NaN,NaN
2024-08-06,108.349998,399.609985,NaN,NaN,NaN,NaN
2024-08-07,108.084999,400.209991,NaN,NaN,NaN,NaN

*** When the actual earnings per share (EPS) is greater than the estimated EPS, it is typically referred to as an "earnings beat." This term indicates that the company has performed better than analysts or market expectations.

In [ ]:
final['earnings_beat'] = final['eps_delta'].apply(lambda x: 1 if x > 0 else (-1 if x < 0 else np.nan))
final

*** value _counts

In [18]:
final.earnings_beat.value_counts()

 1.0    37
-1.0     2
Name: earnings_beat, dtype: int64

In [17]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2400 entries, 2015-01-26 to 2024-08-07
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tip_price      2400 non-null   float64
 1   stock_price    2400 non-null   float64
 2   estimated_eps  39 non-null     float64
 3   actual_eps     39 non-null     float64
 4   eps_delta      39 non-null     float64
 5   earnings_beat  39 non-null     float64
dtypes: float64(6)
memory usage: 131.2+ KB

# 3. Define a Sliding Window
A sliding window of 66 days, as that is the average of trading days in between earnings calls. ***

In [ ]:
# Initialize lists to store input and output sequences
input_sequences = []
output_sequences = []

# Define sequence length (there is an avg of 62 trading days in between earnings calls)
sequence_length = 66 

# Iterate through the data to create sequences
for i in range(len(df_eps) - sequence_length - 1):
    input_seq = df_eps.iloc[i:i + sequence_length]  # This now includes both Price and EPS Ratio
    output_seq = df_eps['Price'].iloc[i + sequence_length]  # for predicting the next day's price
    input_sequences.append(input_seq.values)  # Converts the DataFrame slice to a NumPy array
    output_sequences.append(output_seq)

# Convert lists to NumPy arrays
X = np.array(input_sequences)
y = np.array(output_sequences)

In [ ]:
# Your lambda function
is_even = lambda x: x % 2 == 0

# Use the lambda function to check if the number 4 is even
result = is_even(4)

# Print the result
print(result)  # Output should be True